*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
font-family: 'Lora', serif;
font-weight: 400;
}
.font-roboto, .font-roboto a{
font-family: 'Roboto', sans-serif;
font-weight: 700;
}
header{
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  position: absolute;/*будет поверх картинки */
  z-index: 1;/*выведет наш хэдэр наверх картинки*/
}
.banner img{
  width: 100%;
  height: 600px;/*посмотреть в фигме*/
  object-fit: cover;/*заполнение картинкой выделенной области*/
}
.header-flex{
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;/*раскидывает по сторонам*/
  align-items: center;/*выравнивает лого по центру*/
  height: 100%;
}
.header-nav ul{
  display: flex;
  align-items: center;
}
.header-nav ul li a{
  font-size: 12px;
  line-height: 14px;
  color: #E5E5E5;
  transition: all .3s;
}
.header-nav ul li{
  margin-right: 25px;
}
.header-nav ul li:last-child{/*в последнем элементе меняет отступ справа*/
  margin-right: 0px;
}
.header-nav ul li a:hover{
  color:#FFFFFF;
  transition: all .3s;
  border-bottom: 2px solid #D4A373;
}
.header-flex-2,
.header-social ul{
  display: flex;

}
.header-social ul li{
  margin-right: 18px;
}
.header-social ul li:last-child{
  margin-right: 0px;
}
.header-social{/*делаем вертикальные черточки*/
  margin: 0px 17px;
  border-left: 0.5px solid #E5E5E5;
  border-right: 0.5px solid #E5E5E5; 
  padding: 0px 17px;
}
.banner{
  position: relative;/*меняет точку исчесления для дочерних элементов
  точка 0:0 будет в левом верхнем углу этого блока*/
}
.banner-info{
  position: absolute;
  width: 530px;
  left: 70px;
  bottom: 140px;
}
.tag{
  background: rgb(255,255,255,0.15);/*смотрим в фигме*/
  border-radius: 8px;
  padding: 5px 10px;

  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  color: #FFFFFF;
}
.middle-line{/*делаем линии, но не с помощью бордера*/
  height: 1px;
  width: 30px;
  background: #E5E5E5;
  margin: 9px 11px;
}
.date-text{
  display: flex;
  color:  #E5E5E5;
}
h1{
  color: #FFFFFF;
  font-size: 36px;
  line-height: 46px;
}
.data{
  font-size: 12px;
  line-height: 15px;
}
.text{
  font-size: 12px;
  line-height: 20px;
}

.container{
  width: 1300px;
  margin: 150px auto;/*значение авто сделает контейнер по центру*/
}
.h2-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #495057;
}
.filter-list{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.filter-list li{
  margin-right: 20px;
}
.filter-list li:last-child{
  margin-left: auto;/*откидывает последний элемент в конец*/
  margin-right: 0px;
}
.filter-list li a{
  font-weight: bold;
  font-size: 12px;
  line-height: 25px; 
  color: #495057;
  transition: all .3s;
}
.filter-list li a:hover{
  transition: all .3s;
  color: #D4A373;
}
.topic{
  width: 310px;
  position: relative;
  color:#6C757D;
}
.topic-image{
  width: 100%;/* в пикселях это будет 310 px взято из дизайна*/
  height: 280px;
}
.topic-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;/*задает заполнение объекта внутри своего родителя*/
  border-radius: 5px;
}
.tag-list{
  position: absolute;
  top:20px;
  right:20px;

  display: flex;/*делаем в строку наши туги*/
  margin-right: 10px;
}
.tag-list li:last-child{/*отнести в правый край*/
  margin-right: 0px;
}
.topic-date{
  font-size: 12px;
  line-height: 15px;
}

.topic-title{
  font-size: 18px;
  line-height: 25px;
  color:#495057;
  font-weight: bold;
}
.topic-text{
  font-size: 12px;
  line-height: 20px;
}
.topic-list{
  display: flex;
  flex-wrap: wrap;/*будет переносить на новую строку*/
  gap: 50px 20px;/*позволяет выстроить отсупы*/
}
